*.RData filter=lfs diff=lfs merge=lfs -text
accidents/data filter=lfs diff=lfs merge=lfs -text
accidents/man filter=lfs diff=lfs merge=lfs -text
accidents/DESCRIPTION filter=lfs diff=lfs merge=lfs -text
accidents/NAMESPACE filter=lfs diff=lfs merge=lfs -text
accidents/R filter=lfs diff=lfs merge=lfs -text
accidents/accidents.Rproj filter=lfs diff=lfs merge=lfs -text
*.Rbuildignore filter=lfs diff=lfs merge=lfs -text
*.Rhistory filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/build_options filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/cpp-definition-cache filter=lfs diff=lfs merge=lfs -text
*.pper filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/persistent-state filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/rmd-outputs filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/saved_source_markers filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/prop/8268C5BD filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/prop/88F7D193 filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/prop/8D1B6C73 filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/prop/F4D6E497 filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/prop/INDEX filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/s-A7F29D65/126B0E16 filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/s-A7F29D65/126B0E16-contents filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/s-A7F29D65/128D5734 filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/s-A7F29D65/128D5734-contents filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/3064E3C6/sources/s-A7F29D65/lock_file filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/shared/notebooks/patch-chunk-names filter=lfs diff=lfs merge=lfs -text
/accidents/.Rproj.user/shared/notebooks/paths filter=lfs diff=lfs merge=lfs -text
/accidents/DESCRIPTION filter=lfs diff=lfs merge=lfs -text
/accidents/NAMESPACE filter=lfs diff=lfs merge=lfs -text
*.R filter=lfs diff=lfs merge=lfs -text
*.Rproj filter=lfs diff=lfs merge=lfs -text
accidents/* filter=lfs diff=lfs merge=lfs -text
